{{>header}}
<section class="container my-3">
    <form>
        <input placeholder="NAME" name="name" value="{{customer.name}}" class="form-control mb-3">
        <input placeholder="intialBalance" value="{{customer.intialBalance}}" name=" intialBalance"
            class="form-control mb-3">
        <input placeholder="remainBalance" value="{{customer.remainBalance}}" name="remainBalance"
            class="form-control mb-3">

        <button class="form-control btn-primary mb-3">add Customer</button>
    </form>
</section>
{{>footer}}